{% extends "base.html" %} {% block head %}
<title>About</title>
{% endblock %} {% block body %}
<div class="title">
  <div class="title-wrapper">
    <img
      src="{{url_for('static',filename='Assets/About/information.svg')}}"
      alt=""
    />
    <div class="tite-text">
      <h1>About</h1>
      <h4>A short description of the project</h4>
    </div>
  </div>
  <div class="line"></div>
</div>
<div class="team-page container d-flex flex-row">
  <p>
    Doctors have to spend a lot of time looking at old records to understand a
    patients health history which results in them not being able to pay more
    attention to treatment. they can use our model to search through a
    particular record fast and take a look at the summarised health history of a
    patient. They don't have to spend time going through each record. They can
    search and sort by various features like time period, symptoms, treatment
    etc and also get a summary of all records according to their choice.
  </p>
</div>
{% endblock%}
