{% extends "base.html" %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<div class="title">
  <div class="title-wrapper">
    <img
      src="{{url_for('static',filename='Assets/Heading/doctor.svg')}}"
      alt=""
    />
    <div class="tite-text">
      <h1>Dashboard</h1>
      <h4>
        Select the most suitable information retrival operation you want to
        perform on your reports
      </h4>
    </div>
  </div>
  <div class="line"></div>
</div>
<div class="index-page container d-flex flex-row justify-content-around">
  <a href="/reports" class="card" style="width: 20rem">
    <img
      class="card-img-top p-5"
      src="{{url_for('static',filename='Assets/Index/medical-report.svg')}}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">View Reports</h5>
      <p class="card-text">Take a look at all reports sorted by date</p>
    </div>
  </a>
  <a href="/summarization" class="card" style="width: 20rem">
    <img
      class="card-img-top p-5"
      src="{{url_for('static',filename='Assets/Index/document.svg')}}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Summarization</h5>
      <p class="card-text">Get a gist of the patient's report</p>
    </div>
  </a>
  <a href="/symptoms" class="card" style="width: 20rem">
    <img
      class="card-img-top p-5"
      src="{{url_for('static',filename='Assets/Index/archive.svg')}}"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Search Symptoms</h5>
      <p class="card-text">View patients with a particular symptom</p>
    </div>
  </a>
</div>
{% endblock %}
