{% extends "base.html" %} {% block head %}
<title>Summarization</title>
{% endblock %} {% block body %}
<div class="title">
  <div class="title-wrapper">
    <img
      src="{{url_for('static',filename='Assets/Index/archive.svg')}}"
      alt=""
    />
    <div class="tite-text">
      <h1>Search & Summarise</h1>
      <h4>
        Get a gist of the patient's report or easily find a patient with a
        particular symptom
      </h4>
    </div>
  </div>
  <div class="line"></div>
  <form class="search-form" action="">
    <input placeholder="Patient Name" class="patient" type="search" />
    <input
      placeholder="Start Date"
      class="date"
      type="text"
      style="margin: 0 1rem"
      onfocus="(this.type='date')"
    />
    <input
      placeholder="End Date"
      class="date"
      type="text"
      onfocus="(this.type='date')"
    />
  </form>
  <div class="all-files">
    <table class="table table-striped table-bordered table-hover text-center">
      <thead class="thead-dark" style="background: #1497a8; color: white">
        <tr>
          <th scope="col">Patient Name</th>
          <th scope="col">Report Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td>{{file.name}}</td>
          <td>{{file.date.date()}}</td>
          <td>
            <a
              href="/view/{{file.name}}"
              type="button"
              class="btn btn-secondary"
              >View</a
            >
            <a
              href="/summarize/{{file.name}}"
              type="button"
              class="btn"
              style="background: #1497a8; color: white"
              >Summarize
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="reports-page container"></div>
{% endblock%}
